@use "../../../../../styles/variables" as *;

.intro-section {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 860px) {
      flex-direction: column;
    }

    &-text {
      max-width: 70rem;
    }

    &-gif {
      width: 30rem;
      min-width: 20rem;

      @media only screen and (max-width: 430px) {
        min-width: 15rem;

        width: 20rem;
      }
    }
  }

  &__title {
    font-size: $font-title-default;
    margin-bottom: 5rem;
    color: $font-default-color-dark;

    @media only screen and (min-width: 860px) and (max-width: 933px) {
      font-size: $font-title-small;
    }

    @media only screen and (max-width: 633px) {
      font-size: $font-title-small;
    }

    @media only screen and (max-width: 430px) {
      font-size: $font-title-xsmall;
    }
  }

  &__paragraph {
    font-size: $font-size-default;
    margin-bottom: $spacing-small;
    color: $font-color-gray;

    @media only screen and (min-width: 860px) and (max-width: 933px) {
      font-size: $font-size-small;
    }

    @media only screen and (max-width: 430px) {
      font-size: $font-size-xsmall;
    }
  }

  &__gif {
    width: 100%;
  }
}
