* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}
