@use "../../../../../../styles/variables" as *;



.logo-link {
  &:link,
  &:visited,
  &:active {
    font-size: $font-size-default;
    color: $font-default-color-light;
    font-weight: $font-weight-bold;
    text-decoration: none;
  }
}
