@use "../../../../styles/variables" as *;

.box-layout {
  &__container {
    border: 1px solid $color-border-gray;
    padding: $spacing-medium $spacing-xbig $spacing-xbig;
    border-radius: $spacing-medium;
  }

  &__title {
    font-size: $font-title-default;
    font-weight: 500;
    margin-bottom: $spacing-medium;
    

    color: $font-default-color-dark;

    @media only screen and (min-width: 860px) and (max-width: 933px) {
      font-size: $font-title-small;
    }

    @media only screen and (max-width: 633px) {
      font-size: $font-title-small;
    }

    @media only screen and (max-width: 430px) {
      font-size: $font-title-xsmall;
    }
  }

  &__children {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
