$font-title-default: 4rem;
$font-title-small: 3.5rem;

$font-size-xsmall: 1.4rem;
$font-size-small: 1.8rem;
$font-size-default: 2rem;
$font-size-big: 3rem;
$font-size-xbig: 4rem;

$font-weight-normal: 400;
$font-weight-bold: 600;

$font-family-default: "Inter", sans-serif;
$font-family-title: "Italiana", sans-serif;

$font-default-color-dark: #141513;
$font-default-color-light: #ececec;
$font-color-gray: gray;

$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-big: 3rem;
$spacing-xbig: 4rem;

$border-radius-default: 5px;

$color-primary-green: #3a4538;
$color-background-dark: #141513;
$color-background-light: #fff;
