@use "../../../../styles/variables" as *;

.footer {
  &__text {
    font-size: $font-size-default;
    color: $font-color-gray;
    text-align: center;

    @media only screen and (max-width: 400px) {
      font-size: $font-size-xsmall;
    }
  }
}
