@use "../../../styles/variables" as *;

.not-found {
  width: 80%;

  &__title {
    font-size: 5rem;
  }

  &__subtitle {
    font-size: $font-size-xbig;
    margin-bottom: $spacing-xbig;
  }

  &__paragraph {
    font-size: $font-size-default;
  }
}
