.info-section {
  &__container {
    display: flex;
    gap: 5rem;

    @media only screen and (max-width: 1180px) {
      flex-direction: column;
      gap: 5rem;
      width: 70vw;
      margin: auto;
    }
  }

  &__text {
    font-size: 2.5rem;
    list-style-position: inside;
    color: #737373;

    @media only screen and (min-width: 860px) and (max-width: 933px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 430px) {
      font-size: 1.7rem;
    }

    &--link {
      &:link,
      &:visited {
        text-decoration: underline;
        display: block;
      }
    }
  }
}
