.intro-section {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 860px) {
      flex-direction: column;
    }

    &-text {
      max-width: 70rem;
    }

    &-gif {
      width: 30rem;
      min-width: 20rem;

      @media only screen and (max-width: 430px) {
        min-width: 15rem;

        width: 20rem;
      }
    }
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 5rem;
    color: #0d0d0d;

    @media only screen and (min-width: 860px) and (max-width: 933px) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: 633px) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: 430px) {
      font-size: 3rem;
    }
  }

  &__paragraph {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #737373;

    @media only screen and (min-width: 860px) and (max-width: 933px) {
      font-size: 1.7rem;
    }

    @media only screen and (max-width: 430px) {
      font-size: 1.5rem;
    }
  }

  &__gif {
    width: 100%;
  }
}
