@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 10s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.carousel {
  &__container {
    background: white;

    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 80rem;
    width: 100%;

    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 125px;
      position: absolute;
      width: 100px;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }
  }

  &__skills {
    display: flex;
    align-items: center;
    width: max-content;

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    will-change: transform;

    animation: scroll $animationSpeed linear infinite;

    &--right {
      animation: scrollReverse $animationSpeed linear infinite;
    }
  }

  &__skill-icon {
    object-fit: contain;
    width: 125px;

    @media only screen and (max-width: 801px) {
      width: 80px;
    }
  }
}
