@use "../../../../../styles/variables" as *;

.project-section {

  &__title {
    font-size: $font-title-default;
    margin-bottom: $spacing-big;
    color: $font-default-color-dark;

    @media only screen and (min-width: 860px) and (max-width: 933px) {
      font-size: $font-title-small;
    }

    @media only screen and (max-width: 633px) {
      font-size: $font-title-small;
    }

    @media only screen and (max-width: 430px) {
      font-size: $font-title-xsmall;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin: auto;
    justify-content: center;
  }
}
